*{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #FF6060;
    text-align: center;
}
h1 {
    font-size: 96px;
    font-weight: 700;
    margin-top: 133px ;
}
.textError404 {
    font-size: 18px;
    font-weight: 500;
    margin:  0 25px 133px 25px;

}
link {
    font-size: 14px;
    font-weight: 500;
}

/* Styles pour les écrans de 600px ou plus */
@media screen and (min-width: 600px) {
    h1 {
        font-size: 192px;
    }
}

/* Styles pour les écrans  de 1000 px ou plus */
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 288px;
    }
}