.card {
    position: relative;
    width: 90%;
    height: 255px;
    margin: 20px;   
}
.gradient, .imgCard {
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 10px;
}
.gradient{    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
z-index: 2;}
.imgCard{
    left:0;
    z-index: 1;
}

.cardTitle {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 90%;
    z-index: 3;
}
