header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
    .kasaLogo {
        width: 35%;
        margin: 0;
    }
    .navLink {
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style-type: none;
        margin: 0;
    }
    header a {
            color: #FF6060;
    }

/* Styles pour les écrans de 600px ou plus */
@media screen and (min-width: 600px) {
    header {
        font-size: 18px;
        margin: 25px 100px;
    }
    .kasaLogo {
        width: 25%;
    }
    .navLink {
        gap:45px;
    }
}
