footer {
    display: flex;
    flex-direction: column;
    height: 209px;
    width: 100%;
    background-color: black;
}
.kasaLogoBlack {
    margin-top: 17%;
}
.copyright {
    margin-bottom: 15%;
}