footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 209px;
    width: 100%;
    background-color: black;
}
.kasaLogoBlack {
    width: auto;
    height: 45px;
    margin: 0;
}
.copyright {
    margin: 0;
}