.banner {
    position: relative;
    display: flex;
    height: 111px;
    margin: 22px auto;
}
    .bothPictures {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .imgBanner {
        position: absolute;
    }
    .backgroundBanner {
        position: absolute;
    }
    .titleBanner {
        position: absolute;
        bottom: 15px;
        color: white;
        font-weight: 400;
        font-size: 28px;
        line-height: 1;
        margin-left: 16px;
        text-align: left;
    }
    .titleBannerDesktop {
        display: none;
    }

    /* Style pour les érans de plus de 610px */
    @media screen and (min-width: 610px) {
        .banner {
            justify-content: center;
            margin: 100px;
        }
        .titleBanner {
            display: none;
        }
        .titleBannerDesktop {
            display: block;
            position: absolute;
            bottom: 10px;
            color: white;
            font-weight: 400;
            font-size: 38px;
        }
    }