.banner {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 111px;
    margin: 22px auto;
}
    .bothPictures {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .imgBanner {
        position: relative;
    }
    .backgroundBanner {
        position: absolute;
    }
    .titleBanner {
        position: absolute;
        bottom: 25px;
        color: white;
        font-weight: 400;
        font-size: 28px;
        line-height: 1;
        margin-left: 16px;
        text-align: left;
    }

